# Exercﾃｭcio de Casa 匠 

Utilizar a tabela de dados do clima de seu estado, manipule os dados de acordo com as instruﾃｧﾃｵes abaixo:
    
    - calcular a mﾃｩdia da temperatura da amostra

    - retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'

    - copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatﾃｳrias)

    - Bﾃｴnus: normalizar coluna (qualquer uma)
    
    - Bﾃｴnus II: pesquisar sobre outras formas de processamento de dados alﾃｩm das vistas em sala de aula

In [1]:
import pandas as pd

df = pd.read_csv('paraiba.CSV', delimiter=';', skiprows=8, encoding='latin1')

In [2]:
df.head()

,Data,Hora UTC,"PRECIPITAﾃﾃグ TOTAL, HORﾃヽIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSﾃグ ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSﾃグ ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/mﾂｲ),"TEMPERATURA DO AR - BULBO SECO, HORARIA (ﾂｰC)",TEMPERATURA DO PONTO DE ORVALHO (ﾂｰC),TEMPERATURA Mﾃ々IMA NA HORA ANT. (AUT) (ﾂｰC),TEMPERATURA Mﾃ康IMA NA HORA ANT. (AUT) (ﾂｰC),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (ﾂｰC),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (ﾂｰC),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREﾃﾃグ HORARIA (gr) (ﾂｰ (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"1009,8","1009,9","1009,4",NaN,24,"22,8","24,2","23,9",23,"22,7",93.0,93.0,93.0,160.0,"4,4",",7",NaN
1,2023/01/01,0100 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023/01/01,0200 UTC,"10,4","1009,3","1009,8","1009,3",NaN,"23,3","22,3","24,3","23,3","23,1","22,3",94.0,92.0,94.0,156.0,"3,6",",8",NaN
3,2023/01/01,0300 UTC,",6","1008,2","1009,3","1008,2",NaN,"22,7","21,8","23,3","22,6","22,2","21,5",95.0,93.0,95.0,199.0,"2,5",",7",NaN
4,2023/01/01,0400 UTC,0,"1007,4","1008,2","1007,4",NaN,"22,7","21,9","22,7","22,5",22,"21,6",96.0,95.0,95.0,202.0,"3,1","1,2",NaN

In [7]:
df.dtypes

Data                                                      object
Hora UTC                                                  object
PRECIPITAﾃﾃグ TOTAL, HORﾃヽIO (mm)                          object
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)     object
PRESSﾃグ ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)           object
PRESSﾃグ ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)          object
RADIACAO GLOBAL (Kj/mﾂｲ)                                   object
TEMPERATURA DO AR - BULBO SECO, HORARIA (ﾂｰC)              object
TEMPERATURA DO PONTO DE ORVALHO (ﾂｰC)                      object
TEMPERATURA Mﾃ々IMA NA HORA ANT. (AUT) (ﾂｰC)                object
TEMPERATURA Mﾃ康IMA NA HORA ANT. (AUT) (ﾂｰC)                object
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (ﾂｰC)          object
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (ﾂｰC)          object
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 float64
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                 float64
UMIDADE RELATIVA DO AR, HORARIA (%)                      float64
VENTO, DIREﾃﾃグ HORARIA (gr) (ﾂｰ (gr))                     float64
VENTO, RAJADA MAXIMA (m/s)                                object
VENTO, VELOCIDADE HORARIA (m/s)                           object
Unnamed: 19                                              float64
dtype: object

### Verificando a mﾃｩdia da temperatura

In [8]:
coluna_temperatura  = df['TEMPERATURA DO AR - BULBO SECO, HORARIA (ﾂｰC)']

In [9]:
coluna_temperatura = pd.to_numeric(df['TEMPERATURA DO AR - BULBO SECO, HORARIA (ﾂｰC)'], errors='coerce')

In [10]:
coluna_temperatura.mean()

np.float64(26.69953596287703)

##### A mﾃｩdia da temperatura do ar - bulbo seco, na cidade de Joﾃ｣o Pessoa, Paraﾃｭba, foi de 26.7 ﾂｰC.

### Retirando Nulos

In [12]:
df['RADIACAO GLOBAL (Kj/mﾂｲ)'].isnull()

0        True
1        True
2        True
3        True
4        True
        ...
8755    False
8756    False
8757    False
8758     True
8759     True
Name: RADIACAO GLOBAL (Kj/mﾂｲ), Length: 8760, dtype: bool

In [13]:
remover = df['RADIACAO GLOBAL (Kj/mﾂｲ)'].dropna(axis=0, how='all')
remover

9           62
10       368,5
11        1112
12      2064,6
13      2229,4
         ...
8753    2814,6
8754    2184,6
8755    1523,9
8756     303,1
8757      40,3
Name: RADIACAO GLOBAL (Kj/mﾂｲ), Length: 4764, dtype: object

### Reduzir DataFrame

In [14]:
df_reduzido  = df[['Data', 'PRESSﾃグ ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)', 'TEMPERATURA Mﾃ々IMA NA HORA ANT. (AUT) (ﾂｰC)']]

In [15]:
df_reduzido = df_reduzido.sample(n=1000)

In [22]:
df_reduzido.shape

(1000, 3)

### Bﾃｴnus 1: Normalizar coluna

In [29]:
coluna_pressao = pd.to_numeric(df['TEMPERATURA DO AR - BULBO SECO, HORARIA (ﾂｰC)'], errors='coerce')

In [32]:
df['Coluna1_normalizada'] = (df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'] - df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'].min()) / (df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'].max() - df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)'].min())