# Exerc√≠cio de Casa üè† 

Utilizar a tabela de dados do clima de seu estado, manipule os dados de acordo com as instru√ß√µes abaixo:

    - calcular a m√©dia da temperatura da amostra
    - retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'
    - copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleat√≥rias)
    - B√¥nus: normalizar coluna (qualquer uma)
    - B√¥nus II: pesquisar sobre outras formas de processamento de dados al√©m das vistas em sala de aula

In [207]:
import pandas as pd
import numpy as np
df = pd.read_csv('SALVADOR_2023.csv', delimiter=';', skiprows=8, encoding='latin1')

In [208]:
# calcular a m√©dia da temperatura da amostra

df_temperatura = df['TEMPERATURA DO AR - BULBO SECO, HORARIA (¬∞C)']
df_temperatura = pd.to_numeric(df_temperatura, errors='coerce')
df_temperatura = df_temperatura.replace(np.nan,0)

df_temperatura_media = round(df_temperatura.mean(),2)
df_temperatura_moda = round(df_temperatura.mode(),2)
df_temperatura_mediana = round(df_temperatura.median(),2)
df_temperatura_std = round(df_temperatura.std(),2)
df_temperatura_max = round(df_temperatura.max(),2)
df_temperatura_min = round(df_temperatura.min(),2)

print(f'm√©dia da temperatura ar - bulbo seco: {df_temperatura_media}')
print(f'moda da temperatura ar - bulbo seco: {df_temperatura_moda}')
print(f'mediana da temperatura ar - bulbo seco: {df_temperatura_mediana}')
print(f'desvio padrao da temperatura ar - bulbo seco: {df_temperatura_std}')
print(f'm√°x temperatura ar - bulbo seco: {df_temperatura_max}')
print(f'min temperatura ar - bulbo seco: {df_temperatura_min}')

m√©dia da temperatura ar - bulbo seco: 2.75
moda da temperatura ar - bulbo seco: 0    0.0
Name: TEMPERATURA DO AR - BULBO SECO, HORARIA (¬∞C), dtype: float64
mediana da temperatura ar - bulbo seco: 0.0
desvio padrao da temperatura ar - bulbo seco: 8.05
m√°x temperatura ar - bulbo seco: 33.0
min temperatura ar - bulbo seco: 0.0

In [209]:
# retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'

df_radiacao = df['RADIACAO GLOBAL (Kj/m¬≤)']

print(f'Qtd de nulos na coluna radiacao: {df_radiacao.isnull().sum()}') 

df_radiacao_sem_null = df_radiacao.dropna()

print(f'Qtd de nulos ap√≥s remo√ß√£o de nulos: {df_radiacao_sem_null.isnull().sum()}')

Qtd de nulos na coluna radiacao: 4025
Qtd de nulos ap√≥s remo√ß√£o de nulos: 0

In [210]:
# copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleat√≥rias)

df_amostra_1000 = df[['PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)','TEMPERATURA M√ÅXIMA NA HORA ANT. (AUT) (¬∞C)','UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)']].sample(1000)
df_amostra_1000

,"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",TEMPERATURA M√ÅXIMA NA HORA ANT. (AUT) (¬∞C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)
3562,"1009,7","24,2",93.0
7361,"1004,6","31,3",72.0
4840,"1015,4","28,2",68.0
6753,"1010,7","25,2",82.0
3782,"1013,8","24,3",94.0
...,...,...,...
4683,"1009,1","24,4",90.0
8704,"1006,3","32,7",56.0
5303,"1014,2","24,2",77.0
2801,"1006,6","25,6",93.0
1079,"1006,6","27,5",80.0

In [211]:
# copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleat√≥rias)
# testando quantidade de linhas da amostra
df_amostra_1000.shape

(1000, 3)

In [212]:
#B√¥nus: normalizar coluna (qualquer uma)
# Para n√£o esquecer o conceito de normalizacao = Normalizacao √© o processo de ajustar os valores das colunas para um mesmo intervalo, geralmente entre 0 e 1

df_umidade = df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)']
df_umidade.fillna(0)
df_umidade = pd.to_numeric(df_umidade)
df_normalizacao = (df_umidade - df_umidade.mean()) / df_umidade.std()
df_normalizacao

0      -0.297159
1      -0.297159
2      -0.187429
3      -0.077699
4       0.909875
          ...
8755   -1.833385
8756   -1.284733
8757   -0.736081
8758   -0.626350
8759   -0.187429
Name: UMIDADE REL. MAX. NA HORA ANT. (AUT) (%), Length: 8760, dtype: float64

In [213]:
# B√¥nus II: pesquisar sobre outras formas de processamento de dados al√©m das vistas em sala de aula

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 20 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Data                                                   8760 non-null   object
 1   Hora UTC                                               8760 non-null   object
 2   PRECIPITA√á√ÉO TOTAL, HOR√ÅRIO (mm)                       8756 non-null   object
 3   PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  8756 non-null   object
 4   PRESS√ÉO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)        8756 non-null   object
 5   PRESS√ÉO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)       8756 non-null   object
 6   RADIACAO GLOBAL (Kj/m¬≤)                                4735 non-null   object
 7   TEMPERATURA DO AR - BULBO SECO, HORARIA (¬∞C)           8756 non-null   object
 8   TEMPERATURA DO PONTO DE ORVALHO (¬∞C)                   8756 non-null   object
 9   TEMPERATURA M√ÅXIMA NA HORA ANT. (AUT) (¬∞C)             8756 non-null   object
 10  TEMPERATURA M√çNIMA NA HORA ANT. (AUT) (¬∞C)             8756 non-null   object
 11  TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (¬∞C)       8756 non-null   object
 12  TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (¬∞C)       8756 non-null   object
 13  UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)               8756 non-null   float64
 14  UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)               8756 non-null   float64
 15  UMIDADE RELATIVA DO AR, HORARIA (%)                    8756 non-null   float64
 16  VENTO, DIRE√á√ÉO HORARIA (gr) (¬∞ (gr))                   8756 non-null   float64
 17  VENTO, RAJADA MAXIMA (m/s)                             8756 non-null   object
 18  VENTO, VELOCIDADE HORARIA (m/s)                        8756 non-null   object
 19  Unnamed: 19                                            0 non-null      float64
dtypes: float64(5), object(15)
memory usage: 1.3+ MB

In [214]:
# B√¥nus II: pesquisar sobre outras formas de processamento de dados al√©m das vistas em sala de aula
# index 3829 = 93.0

#loc retorna o valor do indice dado como parametro
df_umidade.loc[3829]

np.float64(93.0)

In [215]:
# B√¥nus II: pesquisar sobre outras formas de processamento de dados al√©m das vistas em sala de aula
df_max_temp = pd.to_numeric(df['TEMPERATURA M√ÅXIMA NA HORA ANT. (AUT) (¬∞C)'],errors='coerce') # dados invalidos serao transformados em NaN retornando float
df_maxima_maior_25 = (df_max_temp > 25).sum()
df_maxima_maior_25

np.int64(535)

In [216]:
# B√¥nus II: pesquisar sobre outras formas de processamento de dados al√©m das vistas em sala de aula
df_max_temp_zero = (df_max_temp == 0).sum()
df_max_temp_zero

np.int64(0)

In [219]:
# B√¥nus II: pesquisar sobre outras formas de processamento de dados al√©m das vistas em sala de aula

df_radiacao = pd.to_numeric(df['RADIACAO GLOBAL (Kj/m¬≤)'],errors='coerce')
df_radiacao.fillna(0)
df_radiacao_media = df_radiacao.mean()
df['RADIACAO GLOBAL (Kj/m¬≤)'].fillna(df_radiacao_media,inplace=True) #False = returns a copy of the object
#If inplace = True, do operation inplace and return None.

C:\Users\Jamile\AppData\Local\Temp\ipykernel_19308\147030306.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RADIACAO GLOBAL (Kj/m¬≤)'].fillna(df_radiacao_media,inplace=True) #False = returns a copy of the object

In [220]:
df

,Data,Hora UTC,"PRECIPITA√á√ÉO TOTAL, HOR√ÅRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESS√ÉO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESS√ÉO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m¬≤),"TEMPERATURA DO AR - BULBO SECO, HORARIA (¬∞C)",TEMPERATURA DO PONTO DE ORVALHO (¬∞C),TEMPERATURA M√ÅXIMA NA HORA ANT. (AUT) (¬∞C),TEMPERATURA M√çNIMA NA HORA ANT. (AUT) (¬∞C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (¬∞C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (¬∞C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIRE√á√ÉO HORARIA (gr) (¬∞ (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"1009,2","1009,2","1008,8",1414.321962,"26,2","21,8","26,3","26,1",22,"21,7",78.0,77.0,77.0,77.0,"4,7","1,3",NaN
1,2023/01/01,0100 UTC,0,"1009,4","1009,4","1009,2",1414.321962,"26,1",22,"26,3",26,22,"21,8",78.0,76.0,78.0,90.0,"4,7",1,NaN
2,2023/01/01,0200 UTC,0,"1009,1","1009,4","1009,1",1414.321962,26,22,"26,3",26,"22,3",22,79.0,78.0,79.0,79.0,5,",9",NaN
3,2023/01/01,0300 UTC,0,"1008,5","1009,1","1008,5",1414.321962,"25,8","21,9",26,"25,6","22,1","21,8",80.0,79.0,79.0,84.0,"4,8",1,NaN
4,2023/01/01,0400 UTC,"3,4","1008,1","1008,5","1008,1",1414.321962,"23,7","21,7","25,8","23,7","22,1","21,6",89.0,79.0,89.0,52.0,"4,6","1,4",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023/12/31,1900 UTC,0,"1004,6","1005,1","1004,6","1641,3","29,9","21,9","30,9","29,7","23,1","21,6",64.0,61.0,62.0,106.0,"6,4","1,2",NaN
8756,2023/12/31,2000 UTC,0,"1004,8","1004,8","1004,5","644,8","28,4","21,9","29,9","28,4","22,6","21,8",69.0,62.0,68.0,91.0,"5,7","1,6",NaN
8757,2023/12/31,2100 UTC,0,1005,"1005,1","1004,8","148,7","27,3","22,3","28,4","27,3","22,4","21,8",74.0,68.0,74.0,80.0,"4,9","1,3",NaN
8758,2023/12/31,2200 UTC,0,"1005,3","1005,3","1004,9",1414.321962,27,"22,3","27,3",27,"22,3","22,1",75.0,73.0,75.0,65.0,"4,3",1,NaN
8759,2023/12/31,2300 UTC,0,"1005,8","1005,8","1005,3",1414.321962,"26,7","22,7","27,1","26,7","22,7","22,3",79.0,75.0,78.0,74.0,"5,2","1,4",NaN