Utilizar a tabela de dados do clima de seu estado, manipule os dados de acordo com as instruções abaixo:
    - calcular a média da temperatura da amostra
    - retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'
    - copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)
    - Bônus: normalizar coluna (qualquer uma)
    - Bônus II: pesquisar sobre outras formas de processamento de dados além das vistas em sala de aula

Não tinha minha cidade mas peguei uma cidade próxima aqui de Joinville/SC.

In [1]:
import pandas as pd

In [2]:

df = pd.read_csv('RIONEGRINHO.CSV', delimiter=';', skiprows=8, encoding='latin1')

In [3]:
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2022/01/01,0000 UTC,0,"913,4","913,4","912,6",NaN,"18,5",18,"18,9","18,5","18,1",18,97.0,95.0,97.0,141.0,"4,1","1,6",NaN
1,2022/01/01,0100 UTC,0,"913,8","913,8","913,3",NaN,"18,2",18,"18,5","18,2",18,"17,9",98.0,97.0,98.0,110.0,"3,9",0,NaN
2,2022/01/01,0200 UTC,0,"913,6","913,8","913,6",NaN,"17,8","17,5","18,2","17,8",18,"17,5",99.0,98.0,98.0,136.0,"3,4","1,4",NaN
3,2022/01/01,0300 UTC,0,"913,1","913,6","913,1",NaN,"17,1",17,"17,8","16,9","17,5","16,7",100.0,98.0,100.0,79.0,"3,2",0,NaN
4,2022/01/01,0400 UTC,0,"912,6","913,1","912,6",NaN,"16,4","16,4","17,2","16,4","17,1","16,4",100.0,99.0,100.0,220.0,1,0,NaN

In [4]:
#calcular a média da temperatura da amostra
coluna_temperatura = df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)']
coluna_temperatura = pd.to_numeric(df['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'], errors='coerce')

In [5]:
#calcular a média da temperatura da amostra
coluna_temperatura.mean()

np.float64(18.357142857142858)

In [6]:
#retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'

remover = df.dropna(axis=0, how='any', subset=['RADIACAO GLOBAL (Kj/m²)'])
remover

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
9,2022/01/01,0900 UTC,0,913,913,"912,4","23,5","16,2","16,2","16,2",16,"16,2",16,100.0,100.0,100.0,266.0,"2,8",",6",NaN
10,2022/01/01,1000 UTC,0,"913,7","913,7",913,"275,5","17,1","17,1","17,1","16,2","17,1","16,2",100.0,100.0,100.0,269.0,"3,3","1,1",NaN
11,2022/01/01,1100 UTC,0,"914,4","914,4","913,7","652,2","17,8",17,"17,8","17,1","17,7","16,7",100.0,94.0,95.0,314.0,"5,9","2,2",NaN
12,2022/01/01,1200 UTC,0,"914,6","914,7","914,3","670,4","17,8",17,"17,9","17,4","17,1","16,4",95.0,93.0,95.0,298.0,"5,5","1,2",NaN
13,2022/01/01,1300 UTC,0,"914,6","914,7","914,5","1961,9","20,1","17,1","20,9","17,7","18,3","16,6",95.0,80.0,83.0,357.0,6,"2,8",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2022/12/31,1900 UTC,0,"918,1",919,"918,1","1708,6","25,1","20,1","25,1","23,5","20,3","18,7",76.0,70.0,74.0,138.0,"11,1","2,5",NaN
8756,2022/12/31,2000 UTC,0,"917,9","918,2","917,8","1647,7","25,4","20,1","25,8","24,7","20,5","18,8",75.0,68.0,72.0,98.0,"5,8","2,4",NaN
8757,2022/12/31,2100 UTC,0,"917,8","917,9","917,7","1158,8","24,5","19,7","25,6","24,5","20,1","19,1",75.0,68.0,75.0,124.0,"5,6","2,3",NaN
8758,2022/12/31,2200 UTC,0,"917,8","917,9","917,7","414,4","22,5",20,"24,6","22,5","20,1","19,3",86.0,74.0,86.0,112.0,"5,6","1,7",NaN
8759,2022/12/31,2300 UTC,0,"918,6","918,6","917,8","6,6","20,8","19,9","22,5","20,8",20,"19,8",95.0,86.0,95.0,95.0,"4,3","1,3",NaN

In [7]:
nulos = df['RADIACAO GLOBAL (Kj/m²)'].isnull().sum()
nulos

np.int64(5478)

In [8]:
#copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)
df_reduzido = df[['Data', 'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)', 'RADIACAO GLOBAL (Kj/m²)']].sample(1000)
df_reduzido

,Data,PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²)
6786,2022/10/10,NaN,NaN
7703,2022/11/17,"921,3",NaN
8183,2022/12/07,916,0
3919,2022/06/13,"923,5",NaN
1752,2022/03/15,"917,5",NaN
...,...,...,...
6120,2022/09/13,NaN,NaN
8133,2022/12/05,"914,7","1007,4"
5739,2022/08/28,NaN,NaN
8128,2022/12/05,"915,5",2592
7115,2022/10/24,NaN,NaN

In [10]:
df_reduzido.shape

(1000, 3)