In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('bertioga_2023.csv', delimiter=';', skiprows=8, encoding='latin1')

Bertioga 2023    
    - calcular a média da temperatura da amostra - ok
    - retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m²)' - ok
    - copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)
    - Bônus: normalizar coluna (qualquer uma)
    - Bônus II: pesquisar sobre outras formas de processamento de dados além das vistas em sala de aula

In [6]:
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"1014,5","1014,6","1013,9",NaN,"23,2",22,"23,5","23,2","22,1",22,93.0,92.0,93.0,348.0,"1,4",",3",NaN
1,2023/01/01,0100 UTC,0,"1014,7","1014,8","1014,5",NaN,"22,9","22,1","23,3","22,9","22,2","22,1",95.0,93.0,95.0,289.0,",9",",5",NaN
2,2023/01/01,0200 UTC,0,"1014,9","1014,9","1014,7",NaN,"22,3","21,7","22,9","22,3","22,1","21,7",96.0,95.0,96.0,230.0,"1,7",",7",NaN
3,2023/01/01,0300 UTC,0,"1014,3","1014,9","1014,3",NaN,22,"21,4","22,3",22,"21,7","21,4",97.0,96.0,96.0,304.0,"1,3",",5",NaN
4,2023/01/01,0400 UTC,0,"1013,2","1014,3","1013,2",NaN,"21,7","21,2",22,"21,7","21,4","21,1",97.0,96.0,97.0,260.0,"1,5",",4",NaN

1 - calcular a média da temperatura da amostra

In [22]:
coluna_temperatura_maxima = pd.to_numeric(df['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'], errors='coerce')
coluna_temperatura_maxima.mean()

np.float64(23.536951501154736)

Comferindo se no dataframe existem valores nulos

In [17]:
nulos = df.isnull()
print(nulos)

#verificar com a professora Letícia, pois não entendi esse valor de retorno.

       Data  Hora UTC  PRECIPITAÇÃO TOTAL, HORÁRIO (mm)  \
0     False     False                             False
1     False     False                             False
2     False     False                             False
3     False     False                             False
4     False     False                             False
...     ...       ...                               ...
8755  False     False                             False
8756  False     False                             False
8757  False     False                             False
8758  False     False                             False
8759  False     False                             False

      PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  \
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
8755                                              False
8756                                              False
8757                                              False
8758                                              False
8759                                              False

      PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)  \
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
...                                               ...
8755                                            False
8756                                            False
8757                                            False
8758                                            False
8759                                            False

      PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)  \
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
...                                                ...
8755                                             False
8756                                             False
8757                                             False
8758                                             False
8759                                             False

      RADIACAO GLOBAL (Kj/m²)  TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)  \
0                        True                                         False
1                        True                                         False
2                        True                                         False
3                        True                                         False
4                        True                                         False
...                       ...                                           ...
8755                    False                                         False
8756                    False                                         False
8757                    False                                         False
8758                    False                                         False
8759                     True                                         False

      TEMPERATURA DO PONTO DE ORVALHO (°C)  \
0                                    False
1                                    False
2                                    False
3                                    False
4                                    False
...                                    ...
8755                                 False
8756                                 False
8757                                 False
8758                                 False
8759                                 False

      TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)  \
0                                          False
1                                          False
2                                          False
3                                          False
4                                          False
...                                          ...
8755                                       False
8756                                       False
8757                                       False
8758                                       False
8759                                       False

      TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)  \
0                                          False
1                                          False
2                                          False
3                                          False
4                                          False
...                                          ...
8755                                       False
8756                                       False
8757                                       False
8758                                       False
8759                                       False

      TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)  \
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
...                                                ...
8755                                             False
8756                                             False
8757                                             False
8758                                             False
8759                                             False

      TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)  \
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
...                                                ...
8755                                             False
8756                                             False
8757                                             False
8758                                             False
8759                                             False

      UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)  \
0                                        False
1                                        False
2                                        False
3                                        False
4                                        False
...                                        ...
8755                                     False
8756                                     False
8757                                     False
8758                                     False
8759                                     False

      UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)  \
0                                        False
1                                        False
2                                        False
3                                        False
4                                        False
...                                        ...
8755                                     False
8756                                     False
8757                                     False
8758                                     False
8759                                     False

      UMIDADE RELATIVA DO AR, HORARIA (%)  \
0                                   False
1                                   False
2                                   False
3                                   False
4                                   False
...                                   ...
8755                                False
8756                                False
8757                                False
8758                                False
8759                                False

      VENTO, DIREÇÃO HORARIA (gr) (° (gr))  VENTO, RAJADA MAXIMA (m/s)  \
0                                    False                       False
1                                    False                       False
2                                    False                       False
3                                    False                       False
4                                    False                       False
...                                    ...                         ...
8755                                 False                       False
8756                                 False                       False
8757                                 False                       False
8758                                 False                       False
8759                                 False                       False

      VENTO, VELOCIDADE HORARIA (m/s)  Unnamed: 19
0                               False         True
1                               False         True
2                               False         True
3                               False         True
4                               False         True
...                               ...          ...
8755                            False         True
8756                            False         True
8757                            False         True
8758                            False         True
8759                            False         True

[8760 rows x 20 columns]

In [18]:
nulos_por_coluna = df.isnull().sum()
print(nulos_por_coluna)

Data                                                        0
Hora UTC                                                    0
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                            8
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)       8
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)             8
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)            8
RADIACAO GLOBAL (Kj/m²)                                  4004
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)                8
TEMPERATURA DO PONTO DE ORVALHO (°C)                      810
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                  8
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                  8
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)          810
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)          810
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                  808
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                  808
UMIDADE RELATIVA DO AR, HORARIA (%)                       810
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     7299
VENTO, RAJADA MAXIMA (m/s)                               7298
VENTO, VELOCIDADE HORARIA (m/s)                          7299
Unnamed: 19                                              8760
dtype: int64

2 - retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m²)'

In [16]:
remover_nulos_coluna_radiacao = df.dropna(subset=['RADIACAO GLOBAL (Kj/m²)'])
remover_nulos_coluna_radiacao

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
9,2023/01/01,0900 UTC,0,"1013,8","1013,8","1013,1","10,7",21,"20,6",21,"20,7","20,6","20,3",98.0,98.0,98.0,292.0,"1,5",1,NaN
10,2023/01/01,1000 UTC,0,"1014,7","1014,7","1013,8","175,4","21,4","21,1","21,4","20,9","21,1","20,5",98.0,98.0,98.0,287.0,"1,5",1,NaN
11,2023/01/01,1100 UTC,0,"1015,2","1015,2","1014,7","798,4","22,7","22,2","22,8","21,4","22,3","21,1",98.0,97.0,97.0,191.0,"1,8",",6",NaN
12,2023/01/01,1200 UTC,0,"1015,6","1015,6","1015,2","1791,3","24,7","21,4","24,7","22,7","22,5","21,4",97.0,82.0,82.0,176.0,"2,5",1,NaN
13,2023/01/01,1300 UTC,0,"1015,6","1015,6","1015,5",1631,"25,3",22,"25,4","24,7","22,4","21,3",84.0,81.0,82.0,151.0,"3,9",1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,2023/12/31,1800 UTC,0,"1014,5","1014,8","1014,5","346,4","23,9",22,"25,9","23,9","22,4","20,7",91.0,73.0,89.0,58.0,"8,2","2,8",NaN
8755,2023/12/31,1900 UTC,0,1014,"1014,5",1014,"283,1","23,9","22,7","23,9","23,2",23,22,97.0,89.0,93.0,321.0,"6,9","1,5",NaN
8756,2023/12/31,2000 UTC,0,"1013,9","1014,1","1013,9","359,9","24,2","22,4","24,4","23,8","22,9","22,3",94.0,89.0,89.0,306.0,"3,2","1,3",NaN
8757,2023/12/31,2100 UTC,0,"1014,2","1014,2","1013,9","127,1","24,4",22,"24,4",24,"22,8","21,8",92.0,86.0,87.0,274.0,"3,1",",7",NaN
8758,2023/12/31,2200 UTC,0,"1014,7","1014,7","1014,1","22,5","24,2","22,3","24,7","23,8","22,3","21,2",90.0,82.0,89.0,114.0,"4,2","1,4",NaN

Conferindo se o df remover_nulos_coluna_radiacao, existe valores nulos na coluna radiação

In [20]:
nulos_por_coluna2 = remover_nulos_coluna_radiacao.isnull().sum()
print(nulos_por_coluna2)

Data                                                        0
Hora UTC                                                    0
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                            0
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)       0
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)             0
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)            0
RADIACAO GLOBAL (Kj/m²)                                     0
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)                0
TEMPERATURA DO PONTO DE ORVALHO (°C)                      465
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                  0
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                  0
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)          464
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)          464
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                  462
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                  462
UMIDADE RELATIVA DO AR, HORARIA (%)                       465
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     3874
VENTO, RAJADA MAXIMA (m/s)                               3873
VENTO, VELOCIDADE HORARIA (m/s)                          3874
Unnamed: 19                                              4756
dtype: int64

In [28]:
# Método 2: Substituir os valores nulos na coluna 'x' por um valor específico (por exemplo, 0 ou uma string vazia)
df['RADIACAO GLOBAL (Kj/m²)'] = df ['RADIACAO GLOBAL (Kj/m²)'].fillna(0)  # ou df['x'].fillna('')
df

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"1014,5","1014,6","1013,9",0,"23,2",22,"23,5","23,2","22,1",22,93.0,92.0,93.0,348.0,"1,4",",3",NaN
1,2023/01/01,0100 UTC,0,"1014,7","1014,8","1014,5",0,"22,9","22,1","23,3","22,9","22,2","22,1",95.0,93.0,95.0,289.0,",9",",5",NaN
2,2023/01/01,0200 UTC,0,"1014,9","1014,9","1014,7",0,"22,3","21,7","22,9","22,3","22,1","21,7",96.0,95.0,96.0,230.0,"1,7",",7",NaN
3,2023/01/01,0300 UTC,0,"1014,3","1014,9","1014,3",0,22,"21,4","22,3",22,"21,7","21,4",97.0,96.0,96.0,304.0,"1,3",",5",NaN
4,2023/01/01,0400 UTC,0,"1013,2","1014,3","1013,2",0,"21,7","21,2",22,"21,7","21,4","21,1",97.0,96.0,97.0,260.0,"1,5",",4",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023/12/31,1900 UTC,0,1014,"1014,5",1014,"283,1","23,9","22,7","23,9","23,2",23,22,97.0,89.0,93.0,321.0,"6,9","1,5",NaN
8756,2023/12/31,2000 UTC,0,"1013,9","1014,1","1013,9","359,9","24,2","22,4","24,4","23,8","22,9","22,3",94.0,89.0,89.0,306.0,"3,2","1,3",NaN
8757,2023/12/31,2100 UTC,0,"1014,2","1014,2","1013,9","127,1","24,4",22,"24,4",24,"22,8","21,8",92.0,86.0,87.0,274.0,"3,1",",7",NaN
8758,2023/12/31,2200 UTC,0,"1014,7","1014,7","1014,1","22,5","24,2","22,3","24,7","23,8","22,3","21,2",90.0,82.0,89.0,114.0,"4,2","1,4",NaN
8759,2023/12/31,2300 UTC,0,"1015,1","1015,1","1014,6",0,"24,1","22,3","24,6","24,1","22,7","22,2",91.0,88.0,90.0,121.0,"8,9","3,9",NaN

3 - copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)

In [30]:
df_reduzido = remover_nulos_coluna_radiacao[['Data', 'Hora UTC', 'RADIACAO GLOBAL (Kj/m²)']]
df_reduzido

            Data  Hora UTC RADIACAO GLOBAL (Kj/m²)
9     2023/01/01  0900 UTC                    10,7
10    2023/01/01  1000 UTC                   175,4
11    2023/01/01  1100 UTC                   798,4
12    2023/01/01  1200 UTC                  1791,3
13    2023/01/01  1300 UTC                    1631
...          ...       ...                     ...
8754  2023/12/31  1800 UTC                   346,4
8755  2023/12/31  1900 UTC                   283,1
8756  2023/12/31  2000 UTC                   359,9
8757  2023/12/31  2100 UTC                   127,1
8758  2023/12/31  2200 UTC                    22,5

[4756 rows x 3 columns]

In [32]:
df_reduzido = df_reduzido.sample(n=1000, random_state=42)
df_reduzido

            Data  Hora UTC RADIACAO GLOBAL (Kj/m²)
8014  2023/11/30  2200 UTC                      39
2512  2023/04/15  1600 UTC                  1132,9
6589  2023/10/02  1300 UTC                   394,3
1551  2023/03/06  1500 UTC                  1754,2
2122  2023/03/30  1000 UTC                    11,9
...          ...       ...                     ...
3284  2023/05/17  2000 UTC                     330
5651  2023/08/24  1100 UTC                   142,9
8102  2023/12/04  1400 UTC                  1280,1
4269  2023/06/27  2100 UTC                    94,4
6741  2023/10/08  2100 UTC                    70,8

[1000 rows x 3 columns]

Bônus I: normalizar coluna (qualquer uma)

In [39]:
df['Coluna_radiacao_normalizada'] = (df['UMIDADE RELATIVA DO AR, HORARIA (%)'] - df['UMIDADE RELATIVA DO AR, HORARIA (%)'].min()) / (df['UMIDADE RELATIVA DO AR, HORARIA (%)'].max() - df['UMIDADE RELATIVA DO AR, HORARIA (%)'].min())
df['Coluna_radiacao_normalizada'].head(1000)

0      0.915663
1      0.939759
2      0.951807
3      0.951807
4      0.963855
         ...
995    0.843373
996    0.807229
997    0.722892
998    0.614458
999    0.602410
Name: Coluna_radiacao_normalizada, Length: 1000, dtype: float64

Bônus II: pesquisar sobre outras formas de processamento de dados além das vistas em sala de aula
Resposta: Verificar arquivo bonus_II.md nesta mesma pasta.