In [1]:
import pandas as pd

df = pd.read_csv('salvador.csv', 
    delimiter=';',
    skiprows=8,
    encoding='latin1')

In [2]:
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"1009,2","1009,2","1008,8",NaN,"26,2","21,8","26,3","26,1",22,"21,7",78.0,77.0,77.0,77.0,"4,7","1,3",NaN
1,2023/01/01,0100 UTC,0,"1009,4","1009,4","1009,2",NaN,"26,1",22,"26,3",26,22,"21,8",78.0,76.0,78.0,90.0,"4,7",1,NaN
2,2023/01/01,0200 UTC,0,"1009,1","1009,4","1009,1",NaN,26,22,"26,3",26,"22,3",22,79.0,78.0,79.0,79.0,5,",9",NaN
3,2023/01/01,0300 UTC,0,"1008,5","1009,1","1008,5",NaN,"25,8","21,9",26,"25,6","22,1","21,8",80.0,79.0,79.0,84.0,"4,8",1,NaN
4,2023/01/01,0400 UTC,"3,4","1008,1","1008,5","1008,1",NaN,"23,7","21,7","25,8","23,7","22,1","21,6",89.0,79.0,89.0,52.0,"4,6","1,4",NaN

In [3]:
df.dtypes

Data                                                      object
Hora UTC                                                  object
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                          object
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)     object
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)           object
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)          object
RADIACAO GLOBAL (Kj/m²)                                   object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)              object
TEMPERATURA DO PONTO DE ORVALHO (°C)                      object
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                object
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                object
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)          object
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)          object
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 float64
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                 float64
UMIDADE RELATIVA DO AR, HORARIA (%)                      float64
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     float64
VENTO, RAJADA MAXIMA (m/s)                                object
VENTO, VELOCIDADE HORARIA (m/s)                           object
Unnamed: 19                                              float64
dtype: object

In [4]:
coluna_temperatura = pd.to_numeric(df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'], errors='coerce')

In [5]:
coluna_temperatura.mean()

np.float64(26.122692725298588)

In [10]:
remover_nulo = df['RADIACAO GLOBAL (Kj/m²)'].dropna

In [13]:
df_reduzido = df[['Data','TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)','TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)']]

amostra = df_reduzido.sample(n=100)
amostra

,Data,TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)
4358,2023/07/01,26,24
1021,2023/02/12,"29,1","27,4"
5104,2023/08/01,"26,7","24,7"
8313,2023/12/13,"26,1","25,3"
7709,2023/11/18,"25,8","25,1"
...,...,...,...
3705,2023/06/04,"25,3",25
7002,2023/10/19,"29,9","28,7"
1851,2023/03/19,"25,8","25,4"
4496,2023/07/07,"22,8","22,1"
2504,2023/04/15,"24,8","24,3"

In [15]:
df['UMIDADE RELATIVA DO AR, HORARIA (%)'] = (df['UMIDADE RELATIVA DO AR, HORARIA (%)'] - df['UMIDADE RELATIVA DO AR, HORARIA (%)'].min()) / (df['UMIDADE RELATIVA DO AR, HORARIA (%)'].max() - df['UMIDADE RELATIVA DO AR, HORARIA (%)'].min())

df['UMIDADE RELATIVA DO AR, HORARIA (%)']

0       0.641509
1       0.660377
2       0.679245
3       0.679245
4       0.867925
          ...
8755    0.358491
8756    0.471698
8757    0.584906
8758    0.603774
8759    0.660377
Name: UMIDADE RELATIVA DO AR, HORARIA (%), Length: 8760, dtype: float64