In [2]:
import pandas as pd 
df = pd.read_csv('INMET SALVADOR 2023.csv', delimiter=';', skiprows=8, encoding='latin1')

In [5]:
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),...,TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19,Unnamed: 20,Unnamed: 21
0,01/01/2023,0000 UTC,NaN,"1010,5","1010,5",1010,NaN,"25,5","23,3","25,9",...,"23,2",88.0,86.0,88.0,183.0,"3,7","1,3",NaN,NaN,NaN
1,01/01/2023,0100 UTC,NaN,"1010,6","1010,6","1010,5",NaN,"25,3","23,3","25,5",...,"23,2",89.0,87.0,89.0,189.0,"3,6",1,NaN,NaN,NaN
2,01/01/2023,0200 UTC,NaN,"1010,6","1010,7","1010,6",NaN,25,"23,2","25,3",...,"23,2",90.0,89.0,90.0,191.0,"4,5","1,1",NaN,NaN,NaN
3,01/01/2023,0300 UTC,NaN,"1010,1","1010,6","1010,1",NaN,"24,9","23,2",25,...,"23,1",91.0,89.0,90.0,181.0,"3,6","1,1",NaN,NaN,NaN
4,01/01/2023,0400 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
coluna_temperatura = df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)']
coluna_temperatura = pd.to_numeric(df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'], errors = 'coerce')
coluna_temperatura.mean()

np.float64(26.991666666666667)

In [ ]:
df_radiacao_sem_nulo = df.dropna(subset = ['RADIACAO GLOBAL (Kj/m²)'])

In [18]:
df_reduzido = df[['Data', 'Hora UTC', 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)' ]]
df_reduzido.sample(n=1000)

            Data  Hora UTC TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)
2296  06/04/2023  1600 UTC                                          NaN
3156  12/05/2023  1200 UTC                                          NaN
4191  24/06/2023  1500 UTC                                          NaN
3340  20/05/2023  0400 UTC                                          NaN
306   13/01/2023  1800 UTC                                           32
...          ...       ...                                          ...
7868  24/11/2023  2000 UTC                                           28
4759  18/07/2023  0700 UTC                                          NaN
4034  18/06/2023  0200 UTC                                          NaN
1138  17/02/2023  1000 UTC                                          NaN
6279  19/09/2023  1500 UTC                                          NaN

[1000 rows x 3 columns]

In [24]:
df['coluna_normalizada'] = (df['UMIDADE RELATIVA DO AR, HORARIA (%)'] - df['UMIDADE RELATIVA DO AR, HORARIA (%)'].min())/ (df['UMIDADE RELATIVA DO AR, HORARIA (%)'].max() - df['UMIDADE RELATIVA DO AR, HORARIA (%)'].min())

df['coluna_normalizada'].head()

0    0.781818
1    0.800000
2    0.818182
3    0.818182
4         NaN
Name: coluna_normalizada, dtype: float64