# Exercício de Casa 🏠 

Utilizar a tabela de dados do clima de seu estado, manipule os dados de acordo com as instruções abaixo:
    - calcular a média da temperatura da amostra
    - retirar nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'
    - copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)
    - Bônus: normalizar coluna (qualquer uma)
    - Bônus II: pesquisar sobre outras formas de processamento de dados além das vistas em sala de aula
---

In [18]:
import pandas as pd
import numpy as np

In [19]:
# Fazendo a leitura do arquivo 
df = pd.read_csv('SAO PAULO-2024.CSV', delimiter=';', skiprows=8, encoding='latin1')
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2024/01/01,0000 UTC,0,"928,2","928,2","927,8",NaN,"18,8","16,7","18,9","18,7","16,8","16,3",88.0,85.0,87.0,NaN,NaN,NaN,NaN
1,2024/01/01,0100 UTC,0,"928,8","928,8","928,2",NaN,19,"16,8",19,"18,7",17,"16,6",89.0,87.0,88.0,NaN,NaN,NaN,NaN
2,2024/01/01,0200 UTC,0,"928,7",929,"928,7",NaN,"18,8","16,9",19,"18,8","17,1","16,8",89.0,88.0,89.0,NaN,NaN,NaN,NaN
3,2024/01/01,0300 UTC,0,"928,4","928,7","928,4",NaN,"18,8","17,2","18,9","18,8","17,2","16,9",90.0,89.0,90.0,NaN,NaN,NaN,NaN
4,2024/01/01,0400 UTC,0,"927,7","928,4","927,7",NaN,"18,6",17,"18,8","18,5","17,3",17,91.0,90.0,90.0,NaN,NaN,NaN,NaN

In [20]:
df.dtypes

Data                                                      object
Hora UTC                                                  object
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                          object
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)     object
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)           object
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)          object
RADIACAO GLOBAL (Kj/m²)                                   object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)              object
TEMPERATURA DO PONTO DE ORVALHO (°C)                      object
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                object
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                object
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)          object
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)          object
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 float64
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                 float64
UMIDADE RELATIVA DO AR, HORARIA (%)                      float64
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     float64
VENTO, RAJADA MAXIMA (m/s)                                object
VENTO, VELOCIDADE HORARIA (m/s)                           object
Unnamed: 19                                              float64
dtype: object

In [21]:
# 1- Substituindo ',' por '.'
temperatura = df['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].replace(',', '.', regex=True)
temperatura

0       18.8
1         19
2       18.8
3       18.8
4       18.6
        ...
4363    11.5
4364    11.2
4365      11
4366    11.3
4367    11.3
Name: TEMPERATURA DO AR - BULBO SECO, HORARIA (°C), Length: 4368, dtype: object

In [22]:
# 1- Transformando a coluna em float e calculando a média da temperatura 
temperatura = pd.to_numeric(temperatura, errors='coerce')
media = temperatura.mean()
media

np.float64(21.47624942686841)

In [31]:
# 2 retirarando os  nulos da coluna 'RADIACAO GLOBAL (Kj/m2)'

remover = df['RADIACAO GLOBAL (Kj/m²)']
print(remover.isnull().sum())
removido = remover.dropna(axis=0, how='all')
removido

2050

9         39,1
10       271,9
11       630,4
12      1007,9
13       903,1
         ...
4361     224,9
4362     193,9
4363     139,4
4364      47,5
4365       6,8
Name: RADIACAO GLOBAL (Kj/m²), Length: 2318, dtype: object

In [10]:
# 3 copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)

df_reduzido = df[['Data','TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)','PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)']]
df_reduzido.head(1000)

,Data,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)"
0,2024/01/01,"18,8","928,2"
1,2024/01/01,19,"928,8"
2,2024/01/01,"18,8","928,7"
3,2024/01/01,"18,8","928,4"
4,2024/01/01,"18,6","927,7"
...,...,...,...
995,2024/02/11,"24,3","930,2"
996,2024/02/11,"26,3","930,5"
997,2024/02/11,28,"930,4"
998,2024/02/11,"29,6",930
999,2024/02/11,"30,9","929,5"

In [11]:
df_reduzido.dtypes

Data                                                     object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)             object
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)    object
dtype: object

In [12]:
df_reduzido['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].dtypes

dtype('O')

In [13]:
df_temperatura_ar = pd.to_numeric(df_reduzido['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'], errors='coerce')
df_temperatura_ar = df_temperatura_ar.dropna(axis=0, how='all')
df_temperatura_ar

1       19.0
37      24.0
82      20.0
91      22.0
105     19.0
        ...
4337    20.0
4345    15.0
4355    13.0
4356    13.0
4365    11.0
Name: TEMPERATURA DO AR - BULBO SECO, HORARIA (°C), Length: 436, dtype: float64

In [14]:
# 4 Bônus: normalizar coluna (qualquer uma)

data = df_temperatura_ar
df = pd.DataFrame(data)

# Definindo a coluna a ser normalizada
coluna_normalizada = 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'

# Normalizando a coluna
df[coluna_normalizada + '_normalizado'] = (df[coluna_normalizada] - df[coluna_normalizada].min()) / (df[coluna_normalizada].max() - df[coluna_normalizada].min())

df[coluna_normalizada + '_normalizado'].head(20)

1      0.347826
37     0.565217
82     0.391304
91     0.478261
105    0.347826
111    0.608696
112    0.608696
125    0.347826
146    0.391304
167    0.434783
184    1.000000
200    0.434783
210    0.913043
216    0.608696
246    0.434783
251    0.565217
255    0.826087
258    0.913043
273    0.434783
281    0.608696
Name: TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)_normalizado, dtype: float64