In [4]:
import pandas as pd

In [9]:
df = pd.read_csv('INMET_SE_RJ_A636_RIO DE JANEIRO - JACAREPAGUA_01-01-2023_A_31-12-2023.csv', delimiter=';', skiprows=8, encoding='latin1')

df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"1013,7","1013,7","1013,1","3,3","25,4","20,9","25,4","23,6","21,9","20,9",87.0,76.0,76.0,323.0,"7,3","2,3",NaN
1,2023/01/01,0100 UTC,0,"1013,3","1013,7","1013,3",",9","23,7","20,9","25,4","23,7","20,9","20,8",84.0,76.0,84.0,295.0,"7,3",",1",NaN
2,2023/01/01,0200 UTC,0,"1012,8","1013,3","1012,8",0,"22,9",21,"23,7","22,9","21,3","20,9",89.0,84.0,89.0,202.0,"1,2",0,NaN
3,2023/01/01,0300 UTC,0,"1012,5","1012,9","1012,5",0,"22,3","20,7","22,9","22,3","21,1","20,7",91.0,89.0,91.0,215.0,"1,2",0,NaN
4,2023/01/01,0400 UTC,0,"1011,6","1012,5","1011,6",NaN,"21,4","19,9","22,4","21,4","20,8","19,9",91.0,91.0,91.0,267.0,"1,3",0,NaN

In [6]:
coluna_temperatura = pd.to_numeric(df['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'], errors='coerce')
coluna_temperatura.mean()

np.float64(24.024416135881104)

In [11]:
sem_nulos = df['RADIACAO GLOBAL (Kj/m²)'].dropna()
sem_nulos.head()

0    3,3
1     ,9
2      0
3      0
8     ,8
Name: RADIACAO GLOBAL (Kj/m²), dtype: object

In [13]:
reduzido = df[['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)','UMIDADE RELATIVA DO AR, HORARIA (%)','VENTO, RAJADA MAXIMA (m/s)' ]]
reduzido.head()

,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, RAJADA MAXIMA (m/s)"
0,0,76.0,"7,3"
1,0,84.0,"7,3"
2,0,89.0,"1,2"
3,0,91.0,"1,2"
4,0,91.0,"1,3"

In [14]:
reduzido_ = reduzido.sample(n=1000, random_state=35)
reduzido_

,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, RAJADA MAXIMA (m/s)"
2665,0,91.0,"1,5"
7650,0,68.0,"6,3"
5558,0,66.0,"4,2"
6536,0,84.0,"3,1"
1187,0,88.0,"1,8"
...,...,...,...
1049,0,71.0,"6,5"
2329,0,89.0,"1,5"
1889,0,53.0,"6,2"
8373,0,69.0,"2,9"
3790,0,90.0,"1,2"

In [18]:
df['VENTO, DIREÇÃO HORARIA (gr) (° (gr))'] = (df['VENTO, DIREÇÃO HORARIA (gr) (° (gr))'] - df['VENTO, DIREÇÃO HORARIA (gr) (° (gr))'].min()) / (df['VENTO, DIREÇÃO HORARIA (gr) (° (gr))'].max() - df['VENTO, DIREÇÃO HORARIA (gr) (° (gr))'].min())
df['VENTO, DIREÇÃO HORARIA (gr) (° (gr))'].head()

0    0.896936
1    0.818942
2    0.559889
3    0.596100
4    0.740947
Name: VENTO, DIREÇÃO HORARIA (gr) (° (gr)), dtype: float64