### **Exercicios Para Casa**


*Utilizar a tabela de dados do clima de seu estado, manipule os dados de acordo com as instruções abaixo:*

In [12]:
import pandas as pd

df = pd.read_csv('SP-2023.CSV', delimiter=';', skiprows=8, encoding='latin1')

In [13]:
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"927,2","927,2","926,9",NaN,"20,3","17,2","20,5","20,2","17,2",17,83.0,81.0,83.0,124.0,"3,1",",8",NaN
1,2023/01/01,0100 UTC,0,"927,2","927,2","926,9",NaN,"20,2","17,5","20,4","20,1","17,6","17,2",85.0,82.0,84.0,143.0,"3,1",1,NaN
2,2023/01/01,0200 UTC,0,"927,1","927,3","927,1",NaN,"20,6","17,9","20,6","20,2",18,"17,5",85.0,84.0,85.0,115.0,"3,5","1,4",NaN
3,2023/01/01,0300 UTC,0,"926,6","927,1","926,6",NaN,"20,4","17,9","20,6","20,3",18,"17,8",86.0,85.0,86.0,130.0,"3,3","1,3",NaN
4,2023/01/01,0400 UTC,0,"925,7","926,6","925,7",NaN,"19,8","17,3","20,4","19,8",18,"17,3",86.0,85.0,86.0,89.0,"5,3",",8",NaN

### **Calcular a média da temperatura da amostra**

In [14]:
umidade_maxima = df['UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)']

In [15]:
umidade_maxima.mean()

np.float64(71.24906367041199)

### **Retirar nulos da coluna RADIACAO GLOBAL (Kj/m2)**

In [16]:
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"927,2","927,2","926,9",NaN,"20,3","17,2","20,5","20,2","17,2",17,83.0,81.0,83.0,124.0,"3,1",",8",NaN
1,2023/01/01,0100 UTC,0,"927,2","927,2","926,9",NaN,"20,2","17,5","20,4","20,1","17,6","17,2",85.0,82.0,84.0,143.0,"3,1",1,NaN
2,2023/01/01,0200 UTC,0,"927,1","927,3","927,1",NaN,"20,6","17,9","20,6","20,2",18,"17,5",85.0,84.0,85.0,115.0,"3,5","1,4",NaN
3,2023/01/01,0300 UTC,0,"926,6","927,1","926,6",NaN,"20,4","17,9","20,6","20,3",18,"17,8",86.0,85.0,86.0,130.0,"3,3","1,3",NaN
4,2023/01/01,0400 UTC,0,"925,7","926,6","925,7",NaN,"19,8","17,3","20,4","19,8",18,"17,3",86.0,85.0,86.0,89.0,"5,3",",8",NaN

In [17]:
df_sem_nulo = df.dropna(subset=['RADIACAO GLOBAL (Kj/m²)'])
df_sem_nulo

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
9,2023/01/01,0900 UTC,0,"926,3","926,3","925,8","78,9","18,6","17,2","18,6","18,1","17,2","16,7",92.0,91.0,92.0,105.0,"1,1",",1",NaN
10,2023/01/01,1000 UTC,0,927,927,"926,3","855,6","21,7","18,6","21,7","18,6","18,9","17,2",92.0,83.0,83.0,251.0,"1,8",",3",NaN
11,2023/01/01,1100 UTC,0,"927,5","927,5",927,"1643,7","24,1","17,6","24,1","21,7","18,9","16,7",83.0,67.0,67.0,205.0,"1,8",",2",NaN
12,2023/01/01,1200 UTC,0,"927,8","927,9","927,5","2511,4","25,2","16,3","25,7","24,1","17,8","15,7",67.0,57.0,58.0,150.0,"2,9",1,NaN
13,2023/01/01,1300 UTC,0,"927,5","927,8","927,5","3355,6","25,3","16,2","26,4","24,2","17,4","15,5",61.0,54.0,57.0,91.0,"3,5","1,3",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,2023/12/31,1800 UTC,0,"925,8","926,3","925,8",1046,"23,6","15,8","24,9","23,6","16,1","14,8",62.0,55.0,62.0,192.0,"7,7","1,9",NaN
8755,2023/12/31,1900 UTC,0,"925,3","925,8","925,3","898,8","23,8","16,4","24,2","22,6","17,1","15,8",68.0,62.0,64.0,183.0,"7,8","2,3",NaN
8756,2023/12/31,2000 UTC,0,"925,5","925,6","925,3","681,9","21,2","16,3","23,8","21,2","16,8","15,9",74.0,63.0,74.0,197.0,"7,6","3,2",NaN
8757,2023/12/31,2100 UTC,0,"925,6","925,6","925,5","146,8","21,2","16,3","21,5","21,1","16,6","16,2",75.0,73.0,74.0,205.0,"7,6","2,4",NaN
8758,2023/12/31,2200 UTC,0,"926,2","926,2","925,5","40,2","20,4","15,4","21,2","20,3","16,3","15,3",74.0,72.0,73.0,158.0,"6,8",3,NaN

### **Copiar o dataframe reduzindo para 3 colunas (a sua escolha) e 1000 linhas (aleatórias)**

In [18]:
df_reduzido  = df[['Data', 'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)', 'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)']]
df_reduzido.sample(1000)

,Data,TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)
1378,2023/02/27,"21,8","22,4"
3568,2023/05/29,"17,9","19,5"
1396,2023/02/28,"21,5","21,5"
6080,2023/09/11,"17,9","18,4"
5604,2023/08/22,"19,4","22,7"
...,...,...,...
4284,2023/06/28,19,"20,3"
278,2023/01/12,"23,7","24,8"
6095,2023/09/11,"24,5","25,9"
4482,2023/07/06,"23,1","24,4"
5961,2023/09/06,"16,2","16,4"

### **Bônus: Normalizar coluna (qualquer uma)**

In [19]:
df_reduzido_temperatura = pd.to_numeric(df['TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)'].replace(',', '.', regex=True), errors='coerce')

In [20]:
df_reduzido_temperatura

0       20.2
1       20.1
2       20.2
3       20.3
4       19.8
        ...
8755    22.6
8756    21.2
8757    21.1
8758    20.3
8759    19.8
Name: TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C), Length: 8760, dtype: float64

### **Bônus II: Pesquisar sobre outras formas de processamento de dados além das vistas em sala de aula**

**DataFrame.nunique:** Contar o número de elementos distintos no eixo especificado.

In [21]:
df.nunique()

Data                                                      365
Hora UTC                                                   24
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                           84
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)     232
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)           226
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)          230
RADIACAO GLOBAL (Kj/m²)                                  4081
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)              259
TEMPERATURA DO PONTO DE ORVALHO (°C)                      197
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                267
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                256
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)          184
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)          200
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                   82
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                   85
UMIDADE RELATIVA DO AR, HORARIA (%)                        84
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                      358
VENTO, RAJADA MAXIMA (m/s)                                160
VENTO, VELOCIDADE HORARIA (m/s)                            70
Unnamed: 19                                                 0
dtype: int64

In [22]:
df_reduzido.T

,0,1,2,3,4,5,6,7,8,9,...,8750,8751,8752,8753,8754,8755,8756,8757,8758,8759
Data,2023/01/01,2023/01/01,2023/01/01,2023/01/01,2023/01/01,2023/01/01,2023/01/01,2023/01/01,2023/01/01,2023/01/01,...,2023/12/31,2023/12/31,2023/12/31,2023/12/31,2023/12/31,2023/12/31,2023/12/31,2023/12/31,2023/12/31,2023/12/31
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),"20,2","20,1","20,2","20,3","19,8","19,2","18,6","18,4","18,2","18,1",...,"22,3","23,1",23,"23,5","23,6","22,6","21,2","21,1","20,3","19,8"
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),"20,5","20,4","20,6","20,6","20,4","19,9","19,2","18,6","18,4","18,6",...,"24,2","24,4",25,"24,3","24,9","24,2","23,8","21,5","21,2","20,4"