In [15]:
import pandas as pd

df = pd.read_csv('brasilia.csv', delimiter=';', skiprows=8, encoding='latin1')

In [18]:
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2020/01/01,0000 UTC,0,"884,1","884,2","883,9",NaN,20,"18,1","20,2","19,6","18,4","17,7",89,88.0,89,108,"2,7",",8",NaN
1,2020/01/01,0100 UTC,0,885,885,"884,1",NaN,"19,5","18,1",20,"19,4","18,4","17,8",91,89.0,91,272,"1,4",",3",NaN
2,2020/01/01,0200 UTC,0,"885,5","885,5",885,NaN,20,"18,8","20,1","19,4","18,9","18,1",94,91.0,93,40,"1,5","1,1",NaN
3,2020/01/01,0300 UTC,0,"885,3","885,5","885,3",NaN,"19,5","17,9","20,2","19,4",19,"17,8",93,90.0,91,319,"2,6",1,NaN
4,2020/01/01,0400 UTC,0,"885,2","885,4","885,2",NaN,"19,5","17,3","19,8","19,3","18,2","17,3",92,87.0,87,321,"2,7","1,4",NaN

In [11]:
df_reduzido = df[['Data', 'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)', 'VENTO, VELOCIDADE HORARIA (m/s)', 'TEMPERATURA DO PONTO DE ORVALHO (°C)', 'RADIACAO GLOBAL (Kj/m²)']]
df_reduzido.head()

,Data,"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)","VENTO, VELOCIDADE HORARIA (m/s)",TEMPERATURA DO PONTO DE ORVALHO (°C),RADIACAO GLOBAL (Kj/m²)
0,2020/01/01,"884,1",",8","18,1",NaN
1,2020/01/01,885,",3","18,1",NaN
2,2020/01/01,"885,5","1,1","18,8",NaN
3,2020/01/01,"885,3",1,"17,9",NaN
4,2020/01/01,"885,2","1,4","17,3",NaN

In [12]:
remover = df_reduzido.dropna(axis=0, how='all')
remover.head()

,Data,"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)","VENTO, VELOCIDADE HORARIA (m/s)",TEMPERATURA DO PONTO DE ORVALHO (°C),RADIACAO GLOBAL (Kj/m²)
0,2020/01/01,"884,1",",8","18,1",NaN
1,2020/01/01,885,",3","18,1",NaN
2,2020/01/01,"885,5","1,1","18,8",NaN
3,2020/01/01,"885,3",1,"17,9",NaN
4,2020/01/01,"885,2","1,4","17,3",NaN

In [13]:
df_reduzido.isnull()
isnull.head

,Data,"PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)","VENTO, VELOCIDADE HORARIA (m/s)",TEMPERATURA DO PONTO DE ORVALHO (°C),RADIACAO GLOBAL (Kj/m²)
0,False,False,False,False,True
1,False,False,False,False,True
2,False,False,False,False,True
3,False,False,False,False,True
4,False,False,False,False,True
...,...,...,...,...,...
8779,False,False,False,False,False
8780,False,False,False,False,False
8781,False,False,False,False,False
8782,False,False,False,False,False
8783,False,False,False,False,True