In [1]:
import pandas as pd

df = pd.read_csv('BRASILIA.CSV', delimiter=';',skiprows=8, encoding='latin1')

In [2]:
df.head(20)

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2020/01/01,0000 UTC,0,"884,1","884,2","883,9",NaN,20,"18,1","20,2","19,6","18,4","17,7",89,88.0,89,108,"2,7",",8",NaN
1,2020/01/01,0100 UTC,0,885,885,"884,1",NaN,"19,5","18,1",20,"19,4","18,4","17,8",91,89.0,91,272,"1,4",",3",NaN
2,2020/01/01,0200 UTC,0,"885,5","885,5",885,NaN,20,"18,8","20,1","19,4","18,9","18,1",94,91.0,93,40,"1,5","1,1",NaN
3,2020/01/01,0300 UTC,0,"885,3","885,5","885,3",NaN,"19,5","17,9","20,2","19,4",19,"17,8",93,90.0,91,319,"2,6",1,NaN
4,2020/01/01,0400 UTC,0,"885,2","885,4","885,2",NaN,"19,5","17,3","19,8","19,3","18,2","17,3",92,87.0,87,321,"2,7","1,4",NaN
5,2020/01/01,0500 UTC,0,"884,5","885,2","884,5",NaN,"18,9","17,1","19,6","18,7","17,3","16,9",90,86.0,89,277,"2,6","1,3",NaN
6,2020/01/01,0600 UTC,0,"884,5","884,6","884,4",NaN,"19,1","17,3","19,1","18,8","17,6","17,2",91,89.0,89,330,2,"1,4",NaN
7,2020/01/01,0700 UTC,0,"884,4","884,6","884,4",NaN,"19,4","16,5","19,6","19,1","17,3","16,5",89,82.0,83,346,"2,8","1,8",NaN
8,2020/01/01,0800 UTC,",2","884,7","884,7","884,4",NaN,"19,2","16,6","19,8","19,2","16,6","16,2",85,80.0,85,14,"2,7","1,6",NaN
9,2020/01/01,0900 UTC,0,"884,7","884,8","884,6","3,9","19,3","17,1","19,4",19,"17,2","16,6",88,85.0,87,7,"2,8","1,7",NaN
10,2020/01/01,1000 UTC,0,"885,1","885,1","884,7","241,4","19,6","16,9","19,6","19,2","17,1","16,7",87,83.0,84,331,"3,4",2,NaN
11,2020/01/01,1100 UTC,0,"885,5","885,5","885,1","525,1","20,5",18,"20,5","19,6",18,"16,9",86,84.0,85,345,4,"1,9",NaN
12,2020/01/01,1200 UTC,0,"885,7","885,7","885,4",1347,"22,4","18,8","22,6","20,5","19,1","17,9",86,79.0,80,344,"3,6",2,NaN
13,2020/01/01,1300 UTC,0,"885,8","885,9","885,7","2426,5",24,"18,6","24,4","22,4","19,7","18,3",82,69.0,72,347,"4,6","2,3",NaN
14,2020/01/01,1400 UTC,0,"885,5","885,8","885,4","2016,9","22,8",19,"25,2","22,8","19,2","17,3",80,64.0,79,284,"5,7","2,7",NaN
15,2020/01/01,1500 UTC,0,"885,3","885,5","885,3","965,7","21,6","18,6","23,9","21,5","19,3","17,5",83,70.0,83,158,5,"2,4",NaN
16,2020/01/01,1600 UTC,",2","884,1","885,3","884,1","1865,6","24,6","18,2","24,7","21,6","20,1","17,3",85,67.0,67,141,"3,9","1,4",NaN
17,2020/01/01,1700 UTC,0,"883,7","884,2","883,7","1638,7","24,5","17,7",25,"24,3","18,6","17,4",69,64.0,66,131,"3,6",",9",NaN
18,2020/01/01,1800 UTC,0,"883,2",884,"883,2","301,7",20,"17,5","24,5",20,"18,3","16,3",86,66.0,86,263,"8,9","2,5",NaN
19,2020/01/01,1900 UTC,0,"882,3","883,2","882,3","629,9","22,3","17,5","22,3",20,"18,1","17,3",86,73.0,74,217,"4,8",",8",NaN

In [4]:
df_reduzido = df.head(20)

In [11]:
df_reduzido.sample(n=5)

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)",TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)
423,2020/01/18,1500 UTC,0,24
8691,2020/12/28,0300 UTC,0,"20,3"
7270,2020/10/29,2200 UTC,0,"25,3"
3770,2020/06/06,0200 UTC,0,"19,7"
5706,2020/08/25,1800 UTC,0,"26,3"

In [13]:
df_reduzido = df[['Data', 'Hora UTC', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)', 'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)']]

In [12]:
df_reduzido.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)",TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)
0,2020/01/01,0000 UTC,0,"20,2"
1,2020/01/01,0100 UTC,0,20
2,2020/01/01,0200 UTC,0,"20,1"
3,2020/01/01,0300 UTC,0,"20,2"
4,2020/01/01,0400 UTC,0,"19,8"

In [10]:
df_reduzido.isnull()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)",TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)
0,False,False,False,False
1,False,False,False,False
2,False,False,False,False
3,False,False,False,False
4,False,False,False,False
...,...,...,...,...
8779,False,False,False,False
8780,False,False,False,False
8781,False,False,False,False
8782,False,False,False,False
8783,False,False,False,False

In [14]:
df_substituido = df_reduzido.replace(';', ',', regex=True)

In [18]:
df_substituido

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)",TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)
0,2020/01/01,0000 UTC,0,"20,2"
1,2020/01/01,0100 UTC,0,20
2,2020/01/01,0200 UTC,0,"20,1"
3,2020/01/01,0300 UTC,0,"20,2"
4,2020/01/01,0400 UTC,0,"19,8"
...,...,...,...,...
8779,2020/12/31,1900 UTC,0,"29,3"
8780,2020/12/31,2000 UTC,0,"28,1"
8781,2020/12/31,2100 UTC,0,"23,6"
8782,2020/12/31,2200 UTC,0,"23,6"
8783,2020/12/31,2300 UTC,0,"22,3"