In [2]:
import pandas as pd

df = pd.read_csv('INMET_CO_DF_A001_BRASILIA_01-01-2023_A_31-12-2023.csv', delimiter=';', skiprows=8, encoding='latin1')

In [3]:
df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2023/01/01,0000 UTC,0,"887,7","887,7","887,2",NaN,"20,1","17,9","20,9",20,"19,2","17,8",91.0,87.0,87.0,187.0,"3,3","1,2",NaN
1,2023/01/01,0100 UTC,0,"888,1","888,1","887,7",NaN,"19,2","17,5","20,1","19,2","17,8","17,4",90.0,87.0,90.0,153.0,"2,9",",8",NaN
2,2023/01/01,0200 UTC,0,"887,8","888,1","887,8",NaN,"19,3","17,6","19,5",19,"17,8","17,3",90.0,89.0,90.0,145.0,"2,5","1,5",NaN
3,2023/01/01,0300 UTC,0,"887,8","887,9","887,7",NaN,"19,3","17,7","19,4","19,1","17,8","17,5",91.0,90.0,91.0,162.0,"3,2","1,4",NaN
4,2023/01/01,0400 UTC,0,"887,6","887,9","887,6",NaN,"19,7","18,1","19,7","19,1","18,1","17,4",91.0,90.0,90.0,140.0,"5,7","2,7",NaN

In [5]:
df_reduzido = df[['Data', 'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)', 'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)', 'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)', 'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)']]
df_reduzido.sample(20)

,Data,TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)
4238,2023/06/26,19,21,"11,9",61.0
1633,2023/03/10,"21,4","22,4","18,9",84.0
8523,2023/12/22,19,"19,4","18,3",95.0
346,2023/01/15,"17,3","19,3","18,4",95.0
5566,2023/08/20,"20,6","26,6","12,7",61.0
7666,2023/11/16,"21,4","24,8","16,3",72.0
3070,2023/05/08,21,"22,5",14,64.0
3858,2023/06/10,"25,1","26,6","13,7",46.0
7686,2023/11/17,22,"22,7","15,8",67.0
6288,2023/09/20,"25,4","26,7","9,1",36.0
3815,2023/06/08,"20,5","21,6","11,8",57.0
6791,2023/10/10,"24,9","26,8",18,65.0
4108,2023/06/21,"17,2",18,10,61.0
8001,2023/11/30,"19,8","20,2","17,3",84.0
1894,2023/03/20,"19,1","19,7","16,4",83.0
2323,2023/04/07,"20,2","20,7","18,9",91.0
5221,2023/08/06,"21,6","23,9","6,4",37.0
8445,2023/12/18,"20,9","27,2","19,2",89.0
3128,2023/05/11,"16,3","17,1","14,4",86.0
1434,2023/03/01,"19,7","22,6","17,7",88.0

In [7]:
df_reduzido_temperatura = df_reduzido['TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)'].str.replace(',','.')
df_reduzido_temperatura.head()

0    20.9
1    20.1
2    19.5
3    19.4
4    19.7
Name: TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C), dtype: object