# Exercício de segunda

In [ ]:
import pandas as pd

df = pd.read_csv('BRASILIA.CSV', delimiter=';', skiprows=8, encoding='latin1')

In [ ]:
df_amostra = df.sample(n=20)

In [ ]:
df_amostra.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
3761,2020/06/05,1700 UTC,0,"890,5","891,3","890,5","2025,3","25,2","15,3","25,9","23,9","16,5","14,8",59,53.0,55,81,"6,5",3,NaN
7852,2020/11/23,0400 UTC,0,"886,5",887,"886,5",NaN,"21,2","18,1","21,5","21,2","18,2","17,9",83,81.0,83,64,"4,9","2,3",NaN
3281,2020/05/16,1700 UTC,"3,4","887,4","887,9","887,4","501,1","21,3","19,3","22,5","20,5","19,3",18,90,77.0,89,143,"4,1","1,5",NaN
4949,2020/07/25,0500 UTC,0,"890,2","890,7","890,2",NaN,17,"10,4","17,3","16,8","10,8","10,4",67,65.0,65,86,"5,1","2,7",NaN
6096,2020/09/11,0000 UTC,0,"889,3","889,3","888,8",NaN,"23,4","4,5","24,7","23,4","4,7","3,7",30,26.0,29,96,4,"1,8",NaN

In [ ]:
df_amostra = df_amostra[['Data', 'Hora UTC', 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)', 'UMIDADE RELATIVA DO AR, HORARIA (%)', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)']]

In [ ]:
df_amostra

,Data,Hora UTC,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","UMIDADE RELATIVA DO AR, HORARIA (%)","PRECIPITAÇÃO TOTAL, HORÁRIO (mm)"
3761,2020/06/05,1700 UTC,"25,2",55,0
7852,2020/11/23,0400 UTC,"21,2",83,0
3281,2020/05/16,1700 UTC,"21,3",89,"3,4"
4949,2020/07/25,0500 UTC,17,65,0
6096,2020/09/11,0000 UTC,"23,4",29,0
4813,2020/07/19,1300 UTC,"16,4",63,0
3710,2020/06/03,1400 UTC,"24,4",58,0
5703,2020/08/25,1500 UTC,"22,8",44,0
6333,2020/09/20,2100 UTC,"30,8",18,0
1640,2020/03/09,0800 UTC,"19,1",95,0
5192,2020/08/04,0800 UTC,"12,1",68,0
7253,2020/10/29,0500 UTC,"18,3",94,0
6656,2020/10/04,0800 UTC,"17,7",53,0
458,2020/01/20,0200 UTC,"20,2",92,"3,4"
6397,2020/09/23,1300 UTC,19,86,0
2601,2020/04/18,0900 UTC,"18,7",94,",2"
3738,2020/06/04,1800 UTC,"25,5",54,0
6926,2020/10/15,1400 UTC,"27,2",45,0
4063,2020/06/18,0700 UTC,"14,9",90,0
8599,2020/12/24,0700 UTC,"17,8",95,0

In [ ]:
df_amostra['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = df_amostra['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].replace(',', '.', regex=True)

In [ ]:
df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'] = df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'].replace(',', '.', regex=True)

In [ ]:
df_amostra.head()

,Data,Hora UTC,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","UMIDADE RELATIVA DO AR, HORARIA (%)","PRECIPITAÇÃO TOTAL, HORÁRIO (mm)"
3761,2020/06/05,1700 UTC,25.2,55,0
7852,2020/11/23,0400 UTC,21.2,83,0
3281,2020/05/16,1700 UTC,21.3,89,3.4
4949,2020/07/25,0500 UTC,17,65,0
6096,2020/09/11,0000 UTC,23.4,29,0

In [ ]:
df_amostra.dtypes

Data                                            object
Hora UTC                                        object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)    object
UMIDADE RELATIVA DO AR, HORARIA (%)              int64
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                object
dtype: object

In [ ]:
df_amostra['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'] = pd.to_numeric(df_amostra['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'], errors='coerce')

In [ ]:
df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'] = pd.to_numeric(df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'], errors='coerce')

In [ ]:
df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'] = pd.to_numeric(df_amostra['PRECIPITAÇÃO TOTAL, HORÁRIO (mm)'], errors='coerce')

In [ ]:
df_amostra.dtypes

Data                                             object
Hora UTC                                         object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)    float64
UMIDADE RELATIVA DO AR, HORARIA (%)               int64
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                float64
dtype: object

In [ ]:
df_amostra.head(20)

,Data,Hora UTC,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","UMIDADE RELATIVA DO AR, HORARIA (%)","PRECIPITAÇÃO TOTAL, HORÁRIO (mm)"
3761,2020/06/05,1700 UTC,25.2,55,0.0
7852,2020/11/23,0400 UTC,21.2,83,0.0
3281,2020/05/16,1700 UTC,21.3,89,3.4
4949,2020/07/25,0500 UTC,17.0,65,0.0
6096,2020/09/11,0000 UTC,23.4,29,0.0
4813,2020/07/19,1300 UTC,16.4,63,0.0
3710,2020/06/03,1400 UTC,24.4,58,0.0
5703,2020/08/25,1500 UTC,22.8,44,0.0
6333,2020/09/20,2100 UTC,30.8,18,0.0
1640,2020/03/09,0800 UTC,19.1,95,0.0
5192,2020/08/04,0800 UTC,12.1,68,0.0
7253,2020/10/29,0500 UTC,18.3,94,0.0
6656,2020/10/04,0800 UTC,17.7,53,0.0
458,2020/01/20,0200 UTC,20.2,92,3.4
6397,2020/09/23,1300 UTC,19.0,86,0.0
2601,2020/04/18,0900 UTC,18.7,94,0.2
3738,2020/06/04,1800 UTC,25.5,54,0.0
6926,2020/10/15,1400 UTC,27.2,45,0.0
4063,2020/06/18,0700 UTC,14.9,90,0.0
8599,2020/12/24,0700 UTC,17.8,95,0.0

In [ ]:
df_amostra.describe()

,"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)","UMIDADE RELATIVA DO AR, HORARIA (%)","PRECIPITAÇÃO TOTAL, HORÁRIO (mm)"
count,20.00000,20.000000,20.000000
mean,20.65000,68.500000,0.350000
std,4.50818,23.736492,1.044031
min,12.10000,18.000000,0.000000
25%,17.77500,53.750000,0.000000
50%,19.65000,66.500000,0.000000
75%,23.65000,90.500000,0.000000
max,30.80000,95.000000,3.400000

In [ ]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df_data = pd.DataFrame(data)

In [ ]:
df_data['A+B'] = df_data['A'] * df_data['B']

In [ ]:
df_data.head()

   A  B  C  A+B
0  1  4  7    4
1  2  5  8   10
2  3  6  9   18